

*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}



.background {
  background: #E6E6E6
}

body {
  font-family: 'Times', cursive;
}

body {
  overflow-x: hidden;
}

.offcanvas-nav {
  background-color: #eee;
  transition: .3s;
  overflow: hidden;
  height: 100%;
  transform: translate3d(-100.5%, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}

.offcanvas-visible {
		transform: translate3d(0, 0, 0);
    @media( min-width: 990px ){
      transform: translate3d(-100%,0,0);
    }
}

.offcanvas-toggle {
  display: block;
  cursor: pointer;
}

.offcanvas-toggle .icon-bar {
    display: block;
    background-color: #111;
    width: 22px;
    height: 3px;
    margin-top: 4px;
}

.offcanvas-wrap {
  padding: 15px;
  overflow: hidden;
  position: relative;
  transition: .3s;
}

.wrap-right {
  transform: translate3d(40%,0,0);
}


.align {
  text-align: right;
}



img {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-left: 10px;

}

.col-1 {
  width: 8.33%;
  background-color: blue;
}
.col-2 {
  width: 16.66%
}
.col-3 {
  width:25%;
}
.col-4 {
  width:33.33%;
  padding: 10px;
}
.col-5 {
  width: 41.66%;
}
.col-6 {

    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


@media screen and (max-width:500px) {
  .imagewrapper { flex-direction: column;

}
}
